html{
    font-size: 62.5%;

}

body{
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family:  Helvetica, Arial, sans-serif;
}

/*Layout  */
.grid-container{
    display: grid;
    grid-template-areas: 'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header{
    grid-area: header;
    background-color: #203040;
}
main{
    grid-area: main;
    padding: 1rem;
}
footer{
    grid-area: footer;
    background-color: #203040;
    color: #fff;
    text-align: center;
    padding: 12px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;

}
a{
    text-decoration: none;
}
header a{
    color: #fff;
  
}
header a:hover{
    color: orange;
}
.brand{
    font-size: 32px;
    color: #fff !important;
}
.nav{
    display: flex;
    gap: 20px;
   
}
.full_card{
    border:1px solid rgb(187, 187, 187);
    border-radius: 3px;
    padding: 2px;
    
}
img.card_image{
    max-width: 29rem;
    width: 100%;
}
.product{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    

}
span i{
    color: orange;
}